#nav ul{
    list-style-type: none;
    padding:4px;
    margin:auto;
    background-color: aqua;
    overflow:hidden;
}
#nav li{
    float:left;
}
#nav li a{
    text-decoration: none;
    color:blueviolet;
    padding:10px;
}
li a:hover{
    background-color: blanchedalmond;
}
